[run]
omit =
    src/hario_core/**/interfaces.py

[report]
exclude_lines =
    # Exclude abstract methods and NotImplemented
    @abc\.abstractmethod
    raise NotImplementedError
    pragma: no cover